## TANZANIA WATER PROJECT

**Importing libraries**

In [742]:
#Importing necessary libraries
import pandas as pd
import numpy as np

# Matplot
import matplotlib.pyplot as plt
# Seaborn
import seaborn as sns

# Cell-to-cell script 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import scipy.stats as st

**Getting the data**

In [743]:
# The datacomes from the Taarifa waterpoints dashboard.Taarifa aggregates data from the Tanzania Ministry of Water.
#I downloaded this data throught the web of 'Driven Data' data resources.
#The data is already splitted: feature_data,label_data. I will merge the two for the initial exploration.

In [744]:
#Get the data
df_features = pd.read_csv('data_features.csv') 
df_label=pd.read_csv('data_labels.csv')

In [745]:
df_features.head()
df_features.shape

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

(59400, 40)

In [746]:
df_label.head()
df_label.shape

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

(59400, 2)

In [747]:
#Both data set has the same number of rows 59400. I will merge both to get my initial data set.

In [748]:
df = pd.merge(df_features,df_label,on='id')
df.shape
df.head()

(59400, 41)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [749]:
#By default not all the columns are display but we want to see them all 
pd.set_option('max_columns', None)
df.head(50)

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322e+00,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466e+00,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329e+00,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-1.115530e+01,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359e+00,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
5,9944,20.0,2011-03-13,Mkinga Distric Coun,0,DWE,39.172796,-4.765587e+00,Tajiri,0,Pangani,Moa/Mwereme,Tanga,4,8,Mkinga,Moa,1,True,GeoData Consultants Ltd,VWC,Zingibali,True,2009,submersible,submersible,submersible,vwc,user-group,pay per bucket,per bucket,salty,salty,enough,enough,other,other,unknown,communal standpipe multiple,communal standpipe,functional
6,19816,0.0,2012-10-01,Dwsp,0,DWSP,33.362410,-3.766365e+00,Kwa Ngomho,0,Internal,Ishinabulandi,Shinyanga,17,3,Shinyanga Rural,Samuye,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
7,54551,0.0,2012-10-09,Rwssp,0,DWE,32.620617,-4.226198e+00,Tushirikiane,0,Lake Tanganyika,Nyawishi Center,Shinyanga,17,3,Kahama,Chambo,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,unknown,unknown,milky,milky,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
8,53934,0.0,2012-11-03,Wateraid,0,Water Aid,32.711100,-5.146712e+00,Kwa Ramadhan Musa,0,Lake Tanganyika,Imalauduki,Tabora,14,6,Tabora Urban,Itetemia,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,india mark ii,india mark ii,handpump,vwc,user-group,never pay,never pay,salty,salty,seasonal,seasonal,machine dbh,borehole,groundwater,hand pump,hand pump,non functional
9,46144,0.0,2011-08-03,Isingiro Ho,0,Artisan,30.626991,-1.257051e+00,Kwapeto,0,Lake Victoria,Mkonomre,Kagera,18,1,Karagwe,Kaisho,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
10,49056,0.0,2011-02-20,Private,62,Private,39.209518,-7.034139e+00,Mzee Hokororo,0,Wami / Ruvu,Mizugo,Pwani,60,43,Mkuranga,Tambani,345,True,GeoData Consultants Ltd,Private operator,NaN,False,2011,submersible,submersible,submersible,private operator,commercial,never pay,never pay,salty,salty,enough,enough,machine dbh,borehole,groundwater,other,other,functional
11,50409,200.0,2013-02-18,Danida,1062,DANIDA,35.770258,-1.057417e+01,Kwa Alid Nchimbi,0,Lake Nyasa,Ngondombwito,Ruvuma,10,5,Namtumbo,Msindo,250,True,GeoData Consultants Ltd,WUG,NaN,False,1987,swn 80,swn 80,handpump,wug,user-group,pay when scheme fails,on failure,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
12,36957,0.0,2012-10-14,World Vision,0,World vision,33.798106,-3.290194e+00,Pamba,0,Internal,Nkilifa,Shinyanga,17,2,Maswa,Busilili,0,True,GeoData Consultants Ltd,WUG,NaN,False,0,nira/tanira,nira/tanira,handpump,wug,user-group,other,other,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
13,50495,0.0,2013-03-15,Lawatefuka Water Supply,1368,Lawatefuka water sup,37.092574,-3.181783e+00,Kwa John Izack Mmari,0,Pangani,Omarini,Kilimanjaro,3,7,Siha,Siha Kaskazini,1,True,GeoData Consultants Ltd,Water Board,BL Bondeni,True,2009,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
14,53752,0.0,2012-10-20,Biore,0,WEDECO,34.364073,-3.629333e+00,Mwabasabi,0,Internal,Mwabasabi,Shinyanga,17,6,Meatu,Nkoma,0,True,GeoData Consultants Ltd,WUG,None,True,0,nira/tanira,nira/tanira,handpump,wug,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
15,61848,0.0,2011-08-04,Rudep,1645,DWE,31.444121,-8.274962e+00,Kwa Juvenal Ching'Ombe,0,Lake Tanganyika,Tunzi,Rukwa,15,2,Sumbawanga Rural,Mkowe,200,True,GeoData Consultants Ltd,VWC,NaN,False,1991,swn 80,swn 80,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
16,48451,500.0,2011-07-04,Unicef,1703,DWE,34.642439,-9.106185e+00,Kwa John Mtenzi,0,Rufiji,Kidudumo,Iringa,11,4,Njombe,Mdandu,35,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,pay monthly,monthly,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional
17,58155,0.0,2011-09-04,Unicef,1656,DWE,34.569266,-9.085515e+00,Kwa Rose Chaula,0,Rufiji,Yeriko,Iringa,11,4,Njombe,Usuka,50,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,pay when scheme fails,on failure,soft,good,dry,dry,river,river/lake,surface,communal standpipe,communal standpipe,non functional
18,34169,0.0,2011-07-22,Hesawa,1162,DWE,32.920154,-1.947868e+00,Ngomee,0,Lake Victoria,Center,Mwanza,19,1,Ukerewe,Ilangala,1000,NaN,GeoData Consultants Ltd,NaN,NaN,True,1999,other,other,other,vwc,user-group,never pay,never pay,milky,milky,insufficient,insufficient,spring,spring,groundwater,other,other,functional needs repair
19,18274,500.0,2011-02-22,Danida,1763,Danid,34.508967,-9.894412e+00,none,0,Lake Nyasa,Manyanya,Iringa,11,5,Ludewa,Mawengi,1,True,GeoData Consultants Ltd,VWC,Makanj,True,1992,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
20,48375,200.0,2011-02-27,Twe,2216,TWE,34.473430,-9.594990e+00,none,0,Lake Nyasa,Majengo,Iringa,11,4,Njombe,Matola,4,True,GeoData Consultants Ltd,VWC,Kidabu,False,2008,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
21,6091,0.0,2013-02-10,Dwsp,0,DWE,0.000000,-2.000000e-08,Muungano,0,Lake Victoria,Ibabachegu,Shinyanga,17,1,Bariadi,Ikungulyabashashi,0,NaN,GeoData Consultants Ltd,WUG,NaN,False,0,swn 80,swn 80,handpump,wug,user-group,unknown,unknown,unknown,unknown,unknown,unknown,shallow well,shallow well,groundwater,hand pump,hand pump,functional
22,58500,0.0,2011-10-04,Unicef,1510,DWE,34.586901,-8.980014e+00,Shuleni,0,Rufiji,Mkanivega,Iringa,11,4,Njombe,Usuka,350,True,GeoData Consultants Ltd,WUA,wanging'ombe water supply s,True,1978,gravity,gravity,gravity,wua,user-group,never pay,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional needs repair
23,37862,500.0,2013-11-03,Isf,672,ISF,37.940029,-4.125595e+00,Kinonga,0,Pangani,Mkonga Juu,Kilimanjaro,3,3,Same,Kisiwani,210,True,GeoData Consultants Ltd,Water authority,Mashangwi,True,2011,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
24,51058,0.0,2013-01-21,African Development Bank,1645,DWE,29.747066,-4.495568e+00,Kamsasa,0,Lake Tanganyika,Msasa,Kigoma,16,3,Kigoma Rural,Mkigo,156,False,GeoData Consultants Ltd,VWC,Quick wins Program,True,2009,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,improved spring,improved spring,functional
25,22308,0.0,2013-02-25,Government Of Tanzania,1273,DWE,37.422751,-3.317536e+00,Kwa Tukai,0,Pangani,Kitereni,Kilimanjaro,3,4,Moshi Rural,Kimochi,140,True,GeoData Consultants Ltd,VWC,Komaka mandaka,True,1974,gravity,gravity,gravity,vwc,user-group,unknown,unknown,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional needs repair
26,55012,500.0,2013-01-16,Sobodo,200,Kilolo Star,39.370777,-9.942532e+00,Ruhoma Primary School,0,Ruvuma / Southern Coast,Shuleni,Lindi,80,23,Lindi Rural,Rutamba,260,False,GeoData Consultants Ltd,VWC,Sobodo Borehole Scheme,False,2011,india mark ii,india mark ii,handpump,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump,functional
27,20145,0.0,2011-07-11,Hesawa,0,DWE,31.104257,-1.735361e+00,Kwawilliam,0,Lake Victoria,Chakahaya,Kagera,18,1,Karagwe,Nyaishozi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
28,19685,0.0,2013-03-05,Government Of Tanzania,1443,District council,37.611126,-3.263526e+00,Kwa Kibakaya,0,Pangani,Kiyao,Kilimanjaro,3,1,Rombo,Mengwe Manda,1,True,GeoData Consultants Ltd,Company,Kitukuni water supply,True,2000,gravity,gravity,gravity,company,commercial,pay monthly,monthly,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,non functional
29,69124,0.0,2013-03-16,Lawatefuka Water Supply,1256,Lawatefuka water sup,37.061688,-3.191989e+00,Kwa Willium Kinda,0,Pangani,Merali,Kilimanjaro,3,7,Siha,Siha Kati,1,True,GeoData Consultants Ltd,Water Board,BL Mwakikoti,True,2002,gravity,gravity,gravity,water board,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
30,46804,0.0,2011-03-23,Water,0,Water,36.108312,-5.791000e+00,Ngosi,0,Wami / Ruvu,Karume,Dodoma,1,4,Chamwino,Dabalo,0,True,GeoData Consultants Ltd,VWC,NaN,True,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump,functional
31,6696,50.0,2011-03-16,Private Individual,180,WU,38.363555,-6.636104e+00,Kituo Cha Maziwa,0,Wami / Ruvu,Kudipera,Pwani,6,1,Bagamoyo,Chalinze,150,False,GeoData Consultants Ltd,WUA,Chalinze wate,True,2004,ksb,submersible,submersible,private operator,commercial,pay per bucket,per bucket,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
32,57238,0.0,2013-03-19,Government Of Tanzania,1481,DWE,37.492334,-3.290627e+00,Kwa Philip Lyimo,0,Pangani,Mosheni,Kilimanjaro,3,4,Moshi Rural,Kilema Kati,180,False,GeoData Consultants Ltd,Other,Mae pipeline,True,1972,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,other,other,functional needs repair
33,12402,0.0,2011-03-11,Undp,1638,DWE,34.478356,-9.715910e+00,none,0,Lake Nyasa,Lupanga A,Iringa,11,5,Ludewa,Lupanga,70,True,GeoData Consultants Ltd,VWC,UNDP,False,1992,gravity,gravity,gravity,vwc,user-group,pay when scheme fails,on failure,soft,good,seasonal,seasonal,spring,spring,groundwater,communal standpipe,communal standpipe,functional
34,41583,0.0,2011-02-23,NaN,-41,NaN,39.812912,-7.889986e+00,Msikitini Wa Ijumaa,0,Rufiji,Kilombero B,Pwani,60,63,Mafia,Baleni,100,True,GeoData Consultants Ltd,VWC,NaN,False,0,nira/tanira,nira/tanira,handpump,vwc,user-group,never pay,never pay,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump,functional
35,57355,0.0,2013-03-28,Not Known,1546,Not known,36.618699,-3.293003e+00,Sekondari,0,Pangani,Afya,Arusha,2,2,Arusha Rural,Oltrumet,200,True,GeoData Consultants Ltd,NaN,NaN,True,2000,other,other,other,vwc,user-group,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other,non functional
36,67359,0.0,2011-07-16,Danida,0,Central government,33.854345,-9.638520e+00,Office Ya Kijiji,0,Lake Nyasa,Ndanganyika,Mbeya,12,3,Kyela,Katumbasongwe,0,True,GeoData Consultants Ltd,VWC,Ngana water supplied scheme,True,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe,non functional
37,60048,0.0,2011-03-27,Kirde,0,DWE,35.858373,-4.647906e+00,Tangi,0,Internal,Baura,Dodoma,1,1,Kondoa,Mnenia,0,True,GeoData Consultants Ltd,VWC,Itun,False,0,gravity,gravity,gravity,vwc,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
38,16583,4000.0,2011-02-20,Cefa,1955,CEFA,35.890264,-8.224399e+00,none,0,Rufiji,Mwanzala,Iringa,11,7,Kilolo,Boma la ng'ombe,100,True,GeoData Consultants Ltd,VWC,Bomala,True,2003,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe,functional
39,25,0.0,2013-02-11,Government Of Tanzania,1348,DWE,30.613305,-3.894561e+00,Mkuyuni,0,Lake Tanganyika,Nyabwai B,Kigoma,16,1,Kibondo,Rugongowe,230,True,GeoData Consultants Ltd,VWC,NaN,False,2002,nira/tanira,nira/tanira,handpump,vwc,user-group,unknown,unknown,soft,good,seasonal,seasonal,shallow well,shallow well,groundwater,hand pump,hand pump,non functional
40,70238,25.0,2013-10-03,Ces(gmbh),710,DWE,37.420027,-3.476849e+00,Kwa Lusina,0,Pangani,Reli B,Kilimanjaro,3,4,Moshi Rural,Kahe,50,True,GeoData Consultants Ltd,Water Board,Kirua kahe pumping water trust,True,2008,submersible,submersible,submersible,water board,user-group,pay per bucket,per bucket,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,functional
41,12796,500.0,2011-03-12,Government Of Tanzania,2469,Commu,33.927902,-9.204649e+00,none,0,Lake Nyasa,Kilunduwe,Iringa,11,3,Makete,Ipelele,0,True,GeoData Consultants Ltd,VWC,Misiwa,False,1986,gravity,gravity,gravity,vwc,user-group,pay when scheme fails,on failure,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
42,52019,500.0,2011-07-07,European Union,1803,Accra,34.814574,-9.032503e+00,Zahanati-Misssion,0,Rufiji,Sokoni,Iringa,11,4,Njombe,Mtwango,250,True,GeoData Consultants Ltd,WUG,Mtwango water supplied sche,True,2011,gravity,gravity,gravity,wug,user-group,pay monthly,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
43,19282,0.0,2013-01-15,NaN,1642,NaN,34.967789,-4.628921e+00,Mvae Primary,0,Internal,Mwarufyu,Singida,13,2,Singida Rural,Merya,1,True,GeoData Consultants Ltd,VWC,K,NaN,1980,mono,mono,motorpump,vwc,user-group,unknown,unknown,unknown,unknown,dry,dry,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,non functional
44,1843,20.0,2013-03-18,Government Of Tanzania,1007,DWE,36.806079,-3.478559e+00,Kwa Bariki,0,Pangani,Marurani Juu,Arusha,2,2,Arusha Rural,Nduruma,100,True,GeoData Consultants Ltd,VWC,Machumba estate pipe line,True,2000,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe,functional needs repair
45,12958,0.0,2012-10-22,World Vision,0,World Vision,33.345260,-3.838998e+00,Shimasa,0,Internal,Isenegeja,Shinyanga,17,3,Shinyanga Rural,Samuye,0,True,GeoData Consultants Ltd,WUG,SHIMASA,True,0,windmill,wind-powered,wind-powered,wug,user-group,pay when scheme fails,on failure,soft,good,enough,enough,machine dbh,borehole,groundwater,communal standpipe,communal standpipe,non functional
46,45111,20.0,2013-02-05,Lga,240,LGA,39.087415,-1.100060e+01,Mikoroshini,0,Ruvuma / Southern Coast,Kachulu,Mtwara,90,33,Masasi,Sindano,30,True,GeoData Consultants Ltd,VWC,NaN,True,2004,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional needs repair
47,13620,0.0,2011-07-27,NaN,0,NaN,33.540607,-9.172905e+00,Mahakamani,0,Lake Nyasa,Mpandapanda,Mbeya,12,4,Rungwe,Kiwira,0,True,GeoData Consultants Ltd,VWC,K,NaN,0,gravity,gravity,gravity,vwc,user-group,never pay,never pay,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
48,18864,4000.0,2011-02-20,Cefa,1982,CEFA,35.871413,-8.227563e+00,none,0,Rufiji,Mlandege Juu,Iringa,11,7,Kilolo,Boma la ng'ombe,70,True,GeoData Consultants Ltd,VWC,Bomala,True,2003,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
49,25182,1500.0,2011-04-04,District Council,2169,DWE,34.441283,-9.189878e+00,Kwa Bryson Msigwa,0,Rufiji,Ikanga,Iringa,11,4,Njombe,Wangama,20,True,GeoData Consultants Ltd,VWC,wangama water supply scheme,True,2007,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional

**DATA CLEANING & EXPLORATION**

In [750]:
df.shape

(59400, 41)

In [751]:
#The data set provides information about the waterpoints in Tanzania. It includes 59400 total records and 42 columns.
#Let´s analyses the  meaning of each column

In [752]:
df.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

**Column Explanation:**

**amount_tsh** - Total static head (amount water available to waterpoint)

**date_recorded** - The date the row was entered

**funder** - Who funded the well

**gps_height** - Altitude of the well

**installer** - Organization that installed the well

**longitude** - GPS coordinate

**latitude** - GPS coordinate

**wpt_name**- Name of the waterpoint if there is one

**num_private** -

**basin** - Geographic water basin

**subvillage** - Geographic location

**region** - Geographic location

**region_code** - Geographic location (coded)

**district_code** - Geographic location (coded)

**lga** - Geographic location

**ward** - Geographic location

**population** - Population around the well

**public_meeting** - True/False

**recorded_by** - Group entering this row of data

**scheme_management** - Who operates the waterpoint

**scheme_name** - Who operates the waterpoint

**permit** - If the waterpoint is permitted

**construction_year** - Year the waterpoint was constructed

**extraction_type** - The kind of extraction the waterpoint uses

**extraction_type_group** - The kind of extraction the waterpoint uses

**extraction_type_class** - The kind of extraction the waterpoint uses

**management** - How the waterpoint is managed

**management_group** - How the waterpoint is managed

**payment** - What the water costs

**payment_type** - What the water costs

**water_quality** - The quality of the water

**quality_group** - The quality of the water

**quantity** - The quantity of water

**quantity_group** - The quantity of water

**source** - The source of the water

**source_type** - The source of the water

**source_class** - The source of the water

**waterpoint_type** - The kind of waterpoint

**waterpoint_type_group** - The kind of waterpoint

**status_group** - If the waterpoint is operational, needs repair or not operational (This will be our label for the project)

In [753]:
#Let´s have overview of our data set
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [754]:
# We have  a total of 59400 entries and 41 columns. 
# We have some null values in several columns. We will have to deal with them.
# Data types: int64(7),float64(3) and object(31). Most of our dataset is categorical data. We find some that is datatime.

In [755]:
#Split numerical and categorical values
df_num = df.select_dtypes(np.number)
df_cat = df.select_dtypes(np.object)

#### Numerical Variables

In [756]:
df_num

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0
...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,1210,37.169807,-3.253847,0,3,5,125,1999
59396,27263,4700.0,1212,35.249991,-9.070629,0,11,4,56,1996
59397,37057,0.0,0,34.017087,-8.750434,0,12,7,0,0
59398,31282,0.0,0,35.861315,-6.378573,0,1,4,0,0
59399,26348,0.0,191,38.104048,-6.747464,0,5,2,150,2002

##### Dealing with Nan values

In [757]:
#Check NaN values
df_num.isnull().sum()

id                   0
amount_tsh           0
gps_height           0
longitude            0
latitude             0
num_private          0
region_code          0
district_code        0
population           0
construction_year    0
dtype: int64

In [758]:
#There is no NaN values in the numerical variables

In [759]:
#Check unique values for each column and the exact value and information for each one.
df_num.nunique()
for x in df_num:
    df_num[x].value_counts()

id                   59400
amount_tsh              98
gps_height            2428
longitude            57516
latitude             57517
num_private             65
region_code             27
district_code           20
population            1049
construction_year       55
dtype: int64

0        1
19811    1
38200    1
34106    1
36155    1
        ..
64138    1
62091    1
51852    1
49805    1
2047     1
Name: id, Length: 59400, dtype: int64

0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
250000.0        1
220.0           1
350000.0        1
138000.0        1
38000.0         1
Name: amount_tsh, Length: 98, dtype: int64

 0       20438
-15         60
-16         55
-13         55
 1290       52
         ...
 2332        1
 2202        1
 2236        1
-57          1
 2038        1
Name: gps_height, Length: 2428, dtype: int64

0.000000     1812
32.977191       2
32.919861       2
37.542785       2
39.105307       2
             ...
37.141893       1
35.839879       1
33.638301       1
35.347266       1
35.164770       1
Name: longitude, Length: 57516, dtype: int64

-2.000000e-08    1812
-2.494546e+00       2
-6.983183e+00       2
-7.056923e+00       2
-7.056372e+00       2
                 ...
-6.162973e+00       1
-1.595138e+00       1
-2.007878e+00       1
-6.787691e+00       1
-1.077290e+01       1
Name: latitude, Length: 57517, dtype: int64

0      58643
6         81
1         73
8         46
5         46
       ...
42         1
136        1
35         1
131        1
94         1
Name: num_private, Length: 65, dtype: int64

11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64

1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64

0       21381
1        7025
200      1940
150      1892
250      1681
        ...
1160        1
3241        1
1960        1
2248        1
1439        1
Name: population, Length: 1049, dtype: int64

0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64

#### Dealing with zeros

In [760]:
#We find that there are several columns with important amount of '0'
#Are they null or missing values or do they have a real meaning? i.e:num_private

In [761]:
#let´s check the total of values=0 in each row
df_num.apply(lambda column:(column == 0).sum())
df_num.apply(lambda column:(column == 0).sum())/len(df_num)

id                       1
amount_tsh           41639
gps_height           20438
longitude             1812
latitude                 0
num_private          58643
region_code              0
district_code           23
population           21381
construction_year    20709
dtype: int64

id                   0.000017
amount_tsh           0.700993
gps_height           0.344074
longitude            0.030505
latitude             0.000000
num_private          0.987256
region_code          0.000000
district_code        0.000387
population           0.359949
construction_year    0.348636
dtype: float64

In [762]:
#NUM_PRIVATE has almost all their values = o (98%)We delete this column.
#It gives us irrelevant information so is not a big deal.

In [763]:
df_num = df_num.drop(['num_private'], axis=1)

In [764]:
#AMOUNT_TSH has 70%values = 0. What does this means? 

#Are they correct values so we have to keep this columns or missing data so we delete the column?
#Let´s analyze this variable

In [765]:
#This featureis related to the water available to waterpoint.
#It measures the total vertical distance that a pump raises water.
#The data shows that although most of the values are 0 the well is still functional.
#This is hard to understand, how a well could be functional with this value as 0.
#For this reaseon, we consider this zero values as NaN ( error in the collection of the data).
#This errors are the 70% of the total.We delete this column from our data. 

# NOTE for future step:We If I had time I should explore if the '0's are related to the type of WP.
#This might be a very technical issue related to water points, so maybe needs experts advice.

In [766]:
df_num = df_num.drop(['amount_tsh'], axis=1)

In [767]:
#GPS_HEIGHT:0.344074 -- is geograpical feature 
    #The height of the location of the WP might affect its funtionality
    #After checking with the help of Google Earth we consider that there aren´t areas 
    #with height =0 in those geograpics points. So we consider '0' as errors

# POPULATION:0.359949
    #The population might affect how often it is used so we need to keep this column.
    #The WP need to have population that use them. We consider '0' as errors.
    
# CONSTRUCTION_YEAR---0.348636
    # The age of the WP might affect it functionaliy so this is a relevant feature.
    # '0' values are errors

In [768]:
#The three of them have almost the same number of null values --- Approx 20
df_num[(df_num['gps_height']== 0)&(df_num['population']== 0)&(df_num['construction_year']== 0)]

,id,gps_height,longitude,latitude,region_code,district_code,population,construction_year
4,19728,0,31.130847,-1.825359,18,1,0,0
6,19816,0,33.362410,-3.766365,17,3,0,0
7,54551,0,32.620617,-4.226198,17,3,0,0
8,53934,0,32.711100,-5.146712,14,6,0,0
9,46144,0,30.626991,-1.257051,18,1,0,0
...,...,...,...,...,...,...,...,...
59384,72148,0,30.667805,-2.483710,18,30,0,0
59392,40607,0,33.009440,-8.520888,12,1,0,0
59393,48348,0,33.866852,-4.287410,14,2,0,0
59397,37057,0,34.017087,-8.750434,12,7,0,0
59398,31282,0,35.861315,-6.378573,1,4,0,0

In [769]:
# We consider to delete the rows with '0' values for these three colums. 
# We will delete aprox 20-25K rows.

In [770]:
#Deleting the rows.We need to concante our df_num with df_cat before deleting rows.

In [771]:
df= pd.concat([df_num, df_cat], axis=1) 
df.reset_index(drop=True, inplace=True)

In [772]:
df.shape

(59400, 39)

In [773]:
#DROPING ROWS WITH '0' VALUES
df = df.drop(df[df['gps_height']== 0].index,axis=0)
df.shape

(38962, 39)

In [774]:
df = df.drop(df[df['population']== 0].index,axis=0) 
df.shape

(37249, 39)

In [775]:
df[df['construction_year']==0 ].shape

(668, 39)

In [776]:
df = df.drop(df[df['construction_year']==0 ].index,axis=0)
df.shape

(36581, 39)

In [777]:
df = df.reset_index(drop=True)# reset the index

In [778]:
df.shape

(36581, 39)

In [779]:
df_num = df.select_dtypes(np.number)

In [780]:
#We don´t have values 0
df_num.apply(lambda column:(column == 0).sum())

id                   0
gps_height           0
longitude            0
latitude             0
region_code          0
district_code        0
population           0
construction_year    0
dtype: int64

In [781]:
# CONSTRUCTION YEAR -- 
#we will creat a new column using this one and the actual year(2021) 
#so we get the age of the well (total yeares since construction).
df_num['years_since_construction'] =  np.where(df_num['construction_year']!= 0,
2021-(df_num['construction_year']),0)
df_num[['years_since_construction']]

C:\Users\Elena\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       years_since_construction
0                            22
1                            11
2                            12
3                            35
4                            10
...                         ...
36576                        54
36577                        14
36578                        22
36579                        25
36580                        19

[36581 rows x 1 columns]

In [782]:
# LONGITUDE&LATITUDE: 0.030505 --is not relevant for our model.
#REGION and DISTRICT code. There are numerical but maybe should be categorical.
#We will consider geographic features in categorical analysis

In [783]:
df_num.columns

Index(['id', 'gps_height', 'longitude', 'latitude', 'region_code',
       'district_code', 'population', 'construction_year',
       'years_since_construction'],
      dtype='object')

In [784]:
#FINAL NUMERICAL DATA SET: Selecting our final df_num according to the explained above:
df_num = df_num.drop(['id', 'longitude', 'latitude', 'region_code',
       'district_code','construction_year'], axis=1)
df_num

       gps_height  population  years_since_construction
0            1390         109                        22
1            1399         280                        11
2             686         250                        12
3             263          58                        35
4              62         345                        10
...           ...         ...                       ...
36576         540         210                        54
36577         351          89                        14
36578        1210         125                        22
36579        1212          56                        25
36580         191         150                        19

[36581 rows x 3 columns]

#### Categorical Variables

In [785]:
df_cat = df.select_dtypes(np.object)
df_cat.shape

(36581, 31)

In [786]:
df_cat.columns

Index(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
       'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group',
       'status_group'],
      dtype='object')

In [787]:
#let´s analyse each column.

In [788]:
#checking unique values and the exact value and information for each one.
df_cat.nunique()
for x in df_cat:
    df_cat[x].value_counts()

date_recorded              280
funder                    1348
installer                 1511
wpt_name                 24024
basin                        9
subvillage               11636
region                      17
lga                         80
ward                      1274
public_meeting               2
recorded_by                  1
scheme_management           12
scheme_name               1866
permit                       2
extraction_type             18
extraction_type_group       13
extraction_type_class        7
management                  12
management_group             5
payment                      7
payment_type                 7
water_quality                8
quality_group                6
quantity                     5
quantity_group               5
source                      10
source_type                  7
source_class                 3
waterpoint_type              7
waterpoint_type_group        6
status_group                 3
dtype: int64

2013-02-03    494
2011-03-17    448
2011-03-04    410
2013-03-15    402
2013-02-04    397
             ...
2004-03-06      1
2004-06-01      1
2004-05-01      1
2004-01-07      1
2012-01-21      1
Name: date_recorded, Length: 280, dtype: int64

Government Of Tanzania    6115
Danida                    1839
Unicef                     892
Dhv                        828
World Bank                 778
                          ...
Vgovernment                  1
Hongoli                      1
Theo                         1
Rc Mofu                      1
Ngumi                        1
Name: funder, Length: 1348, dtype: int64

DWE                         10185
RWE                          1077
Government                    980
DANIDA                        771
0                             760
                            ...
upper Ruvu                      1
Zao water spring X              1
Dar es salaam Technician        1
Sua                             1
Coun                            1
Name: installer, Length: 1511, dtype: int64

none                    2229
Shuleni                 1215
Zahanati                 515
Msikitini                424
Kanisani                 204
                        ...
Shule Ya Msingi Uzia       1
Dip No 13                  1
Ngale                      1
Kwa Msingwa                1
Kwamzanike                 1
Name: wpt_name, Length: 24024, dtype: int64

Pangani                    8403
Rufiji                     6042
Internal                   4633
Wami / Ruvu                4545
Ruvuma / Southern Coast    4017
Lake Tanganyika            3556
Lake Victoria              2502
Lake Nyasa                 1896
Lake Rukwa                  987
Name: basin, dtype: int64

Shuleni        408
Majengo        337
Madukani       303
Kati           300
Sokoni         172
              ...
Chiunjilile      1
Mtundua          1
Oltukai          1
Mrocha           1
Wanginyi         1
Name: subvillage, Length: 11636, dtype: int64

Kilimanjaro      4344
Iringa           4123
Morogoro         3744
Arusha           3298
Kigoma           2775
Pwani            2435
Ruvuma           2157
Singida          2083
Tanga            1967
Mara             1952
Rukwa            1759
Mtwara           1641
Manyara          1570
Lindi            1429
Dar es Salaam     785
Mwanza            355
Shinyanga         164
Name: region, dtype: int64

Njombe          2488
Arusha Rural    1238
Moshi Rural     1230
Kasulu          1043
Meru             993
                ...
Arusha Urban      62
Kigoma Urban      40
Songea Urban      34
Ilemela           26
Lindi Urban       20
Name: lga, Length: 80, dtype: int64

Igosi        307
Imalinyi     252
Siha Kati    231
Mdandu       231
Nduruma      209
            ...
Matarawe       1
Ruvuma         1
Kasimbu        1
Mlimani        1
Rusimbi        1
Name: ward, Length: 1274, dtype: int64

True     31375
False     2905
Name: public_meeting, dtype: int64

GeoData Consultants Ltd    36581
Name: recorded_by, dtype: int64

VWC                 21229
Water Board          2558
Water authority      2510
WUA                  2377
WUG                  1899
Company              1017
Parastatal            984
Private operator      811
Other                 588
SWC                    96
Trust                  63
None                    1
Name: scheme_management, dtype: int64

Chalinze wate                    403
DANIDA                           379
Borehole                         365
Government                       309
wanging'ombe water supply s      261
                                ...
Mvaji Ri                           1
Ikola water suply                  1
Ngoyoni hospital water supply      1
Mradi wa maji wa Mbinga mu         1
BL Sanya juu service line          1
Name: scheme_name, Length: 1866, dtype: int64

True     25037
False     9620
Name: permit, dtype: int64

gravity                      18821
submersible                   3809
other                         3573
nira/tanira                   2665
swn 80                        2010
india mark ii                 1549
mono                          1536
ksb                            964
afridev                        912
other - rope pump              384
other - swn 81                 175
india mark iii                  63
windmill                        58
other - play pump               50
climax                           8
walimi                           2
cemo                             1
other - mkulima/shinyanga        1
Name: extraction_type, dtype: int64

gravity            18821
submersible         4773
other               3573
nira/tanira         2665
swn 80              2010
india mark ii       1549
mono                1536
afridev              912
rope pump            384
other handpump       228
india mark iii        63
wind-powered          58
other motorpump        9
Name: extraction_type_group, dtype: int64

gravity         18821
handpump         7427
submersible      4773
other            3573
motorpump        1545
rope pump         384
wind-powered       58
Name: extraction_type_class, dtype: int64

vwc                 24604
water board          2777
wug                  2245
wua                  2065
private operator     1515
parastatal           1094
company               650
water authority       583
other                 522
unknown               354
other - school         98
trust                  74
Name: management, dtype: int64

user-group    31691
commercial     2822
parastatal     1094
other           620
unknown         354
Name: management_group, dtype: int64

never pay                12995
pay per bucket            6777
pay monthly               6771
unknown                   5079
pay annually              2441
pay when scheme fails     2135
other                      383
Name: payment, dtype: int64

never pay     12995
per bucket     6777
monthly        6771
unknown        5079
annually       2441
on failure     2135
other           383
Name: payment_type, dtype: int64

soft                  31804
salty                  2978
unknown                1135
coloured                191
fluoride                166
salty abandoned         163
milky                   135
fluoride abandoned        9
Name: water_quality, dtype: int64

good        31804
salty        3141
unknown      1135
colored       191
fluoride      175
milky         135
Name: quality_group, dtype: int64

enough          21095
insufficient     9994
dry              3198
seasonal         1836
unknown           458
Name: quantity, dtype: int64

enough          21095
insufficient     9994
dry              3198
seasonal         1836
unknown           458
Name: quantity_group, dtype: int64

spring                  11800
machine dbh              7516
river                    7455
shallow well             7282
rainwater harvesting     1247
hand dtw                  515
lake                      419
dam                       255
other                      62
unknown                    30
Name: source, dtype: int64

spring                  11800
borehole                 8031
river/lake               7874
shallow well             7282
rainwater harvesting     1247
dam                       255
other                      92
Name: source_type, dtype: int64

groundwater    27113
surface         9376
unknown           92
Name: source_class, dtype: int64

communal standpipe             19961
hand pump                       8244
communal standpipe multiple     4194
other                           3733
improved spring                  367
cattle trough                     80
dam                                2
Name: waterpoint_type, dtype: int64

communal standpipe    24155
hand pump              8244
other                  3733
improved spring         367
cattle trough            80
dam                       2
Name: waterpoint_type_group, dtype: int64

functional                 20264
non functional             13840
functional needs repair     2477
Name: status_group, dtype: int64

In [789]:
# Which columns/data we consider relevant for our predictionand which don´t.

In [790]:
#DATE_RECORDED-->
#The date the row was entered should not influence the functional state of the water pump.
#We drop it from our data set.

In [791]:
#FUNDER-->Who founded the well should not influence the functional state of the water pump.
#Nominal categorical data with 1897 unique values. 
#We drop it from our data set.

In [792]:
##INSTALER-->
#Nominal categorial data with 2145 different values. 
#We drop it from our data set.

In [793]:
#WPT_NAME-->The name should not influence the functional state of the water pump.
#Nominal categorial data with 37400 different values. 
#We drop it from our data set.

In [794]:
## basin--> Geographic water basin that sources the WP.
# 9 unique values. It might be relevant for our model.

In [1]:
# eatures related to LOCATION -->

In [795]:
df_cat[['subvillage', 'region', 'lga', 'ward']].nunique()

subvillage    11636
region           17
lga              80
ward           1274
dtype: int64

In [796]:
# We will analyses geographical situation using graphs but not inlclude this data in our model.  
#According to the unique values of each column we might consider region and/or lga to group the values.
#however in our numerical data we have columns for region and district already codificated. 
#We will not consider these location related categorical features.

In [797]:
#Possible future step: code region between rural, urban and uknown areas.

In [798]:
#PUBLIC MEETING --> 
#True/False values. Boolean.
#What does it means?---> Related to the type of concesion.

In [799]:
# RECORDED_BY** -->
#Same value. Not interesting for our analysis

In [800]:
df_cat[['scheme_management', 'scheme_name','management','management_group']].nunique()

scheme_management      12
scheme_name          1866
management             12
management_group        5
dtype: int64

In [801]:
df_cat[['scheme_management', 'scheme_name','management','management_group']].isnull().sum()

scheme_management     2448
scheme_name          14408
management               0
management_group         0
dtype: int64

In [802]:
#scheme_management,scheme_name, management-->info about who is in charge of the management. 
#There are a lot of Nan Values in scheme_management,scheme_name so we delete this columns.

In [803]:
# It seems that  management and management_group provide also the same info. Let´s check it. 
df_cat[['management','management_group']].value_counts()

management        management_group
vwc               user-group          24604
water board       user-group           2777
wug               user-group           2245
wua               user-group           2065
private operator  commercial           1515
parastatal        parastatal           1094
company           commercial            650
water authority   commercial            583
other             other                 522
unknown           unknown               354
other - school    other                  98
trust             commercial             74
dtype: int64

In [804]:
# Redundant columns -->We only keep MANAGEMENT_GROUP (no nulls and 5 unique values)

In [805]:
# PERMIT-->If the waterpoint is permitted

In [806]:
df_cat['permit'].value_counts()
#Boolean value. We keep it for our analysis

True     25037
False     9620
Name: permit, dtype: int64

In [807]:
#Features related to the EXTRACTION TYPE --> redundant features

In [808]:
df_cat[['extraction_type','extraction_type_group', 'extraction_type_class']].value_counts()

extraction_type            extraction_type_group  extraction_type_class
gravity                    gravity                gravity                  18821
submersible                submersible            submersible               3809
other                      other                  other                     3573
nira/tanira                nira/tanira            handpump                  2665
swn 80                     swn 80                 handpump                  2010
india mark ii              india mark ii          handpump                  1549
mono                       mono                   motorpump                 1536
ksb                        submersible            submersible                964
afridev                    afridev                handpump                   912
other - rope pump          rope pump              rope pump                  384
other - swn 81             other handpump         handpump                   175
india mark iii             india mark iii         handpump                    63
windmill                   wind-powered           wind-powered                58
other - play pump          other handpump         handpump                    50
climax                     other motorpump        motorpump                    8
walimi                     other handpump         handpump                     2
cemo                       other motorpump        motorpump                    1
other - mkulima/shinyanga  other handpump         handpump                     1
dtype: int64

In [809]:
#Extraction_type_clase groups the data in the other two colums. Thus, we only keep this column.

In [810]:
# Features related to the PAYMENT ---> we find to redundant features

In [811]:
df_cat[['payment','payment_type']].value_counts()
#we will drop payment and keep 'payment type'

payment                payment_type
never pay              never pay       12995
pay per bucket         per bucket       6777
pay monthly            monthly          6771
unknown                unknown          5079
pay annually           annually         2441
pay when scheme fails  on failure       2135
other                  other             383
dtype: int64

In [812]:
#The relevant info for our model is if it is paid or not
def clean_payment_status(x):
    if 'never pay'in x:
        return 'No payment'
    elif 'unknown' in x:
        return 'unknown'
    else: 
        return 'Paid'

In [813]:
df_cat['waterpoint_type']= df_cat['waterpoint_type'].apply (clean_waterpointype)
df_cat['waterpoint_type'].value_counts()

C:\Users\Elena\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

communal standpipe    24155
other                 12426
Name: waterpoint_type, dtype: int64

In [814]:
# Features related to the WATER QUALITY/QUANTITY**

In [815]:
df_cat[['water_quality','quality_group', 'quantity', 'quantity_group']].value_counts()
# # water quality and quality group have same info. We keep quality group column.
# # quantiy and quantity group have same info. We keep quantity_group columns

water_quality       quality_group  quantity      quantity_group
soft                good           enough        enough            19236
                                   insufficient  insufficient       8637
                                   dry           dry                2183
                                   seasonal      seasonal           1645
salty               salty          enough        enough             1459
                                   insufficient  insufficient       1003
unknown             unknown        dry           dry                 594
salty               salty          dry           dry                 383
unknown             unknown        unknown       unknown             343
salty               salty          seasonal      seasonal            123
salty abandoned     salty          enough        enough              121
fluoride            fluoride       insufficient  insufficient        109
soft                good           unknown       unknown             103
unknown             unknown        enough        enough               92
coloured            colored        insufficient  insufficient         89
unknown             unknown        insufficient  insufficient         84
coloured            colored        enough        enough               75
fluoride            fluoride       enough        enough               56
milky               milky          enough        enough               52
                                   insufficient  insufficient         39
                                   seasonal      seasonal             29
salty abandoned     salty          insufficient  insufficient         29
unknown             unknown        seasonal      seasonal             22
milky               milky          dry           dry                  14
coloured            colored        seasonal      seasonal             14
                                   dry           dry                  12
salty abandoned     salty          dry           dry                  10
salty               salty          unknown       unknown              10
fluoride abandoned  fluoride       insufficient  insufficient          4
                                   enough        enough                4
salty abandoned     salty          seasonal      seasonal              3
fluoride            fluoride       dry           dry                   1
coloured            colored        unknown       unknown               1
fluoride abandoned  fluoride       dry           dry                   1
milky               milky          unknown       unknown               1
dtype: int64

In [816]:
# Features related to the SOURCE

In [817]:
df_cat[['source', 'source_type','source_class']].value_counts()
#'source', 'source_type','source_class' have the same info. 
#Source_class is the one which group the info. We only keep this column for our model.

source                source_type           source_class
spring                spring                groundwater     11800
machine dbh           borehole              groundwater      7516
river                 river/lake            surface          7455
shallow well          shallow well          groundwater      7282
rainwater harvesting  rainwater harvesting  surface          1247
hand dtw              borehole              groundwater       515
lake                  river/lake            surface           419
dam                   dam                   surface           255
other                 other                 unknown            62
unknown               other                 unknown            30
dtype: int64

In [818]:
# Features related to the WP TYPE

In [819]:
 df_cat[[ 'waterpoint_type', 'waterpoint_type_group']].value_counts()
#Both columns provides same info. We keep wp type group.

waterpoint_type     waterpoint_type_group
communal standpipe  communal standpipe       24155
other               hand pump                 8244
                    other                     3733
                    improved spring            367
                    cattle trough               80
                    dam                          2
dtype: int64

In [820]:
def clean_waterpointype(x):
    if 'communal standpipe multiple'in x:
        return 'communal standpipe'
    elif 'communal standpipe' in x:
        return 'communal standpipe'
    elif 'cattle trough'or'dam' in x:
        return 'other'
    else: 
        return x

In [821]:
df_cat['waterpoint_type']= df_cat['waterpoint_type'].apply (clean_waterpointype)
df_cat['waterpoint_type'].value_counts()

C:\Users\Elena\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

communal standpipe    24155
other                 12426
Name: waterpoint_type, dtype: int64

In [2]:
# According to the above conclusion we drop selected columns from our df_cat

In [822]:
 df_cat=df_cat.drop(['date_recorded','funder', 'installer', 'wpt_name','recorded_by','scheme_management', 'scheme_name','extraction_type',
'extraction_type_group', 'management','payment', 'water_quality','quantity','source', 'source_type',
'waterpoint_type_group','subvillage', 'region', 'lga', 'ward'],axis=1)

In [823]:
df_cat.shape
df_cat

(36581, 11)

,basin,public_meeting,permit,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_class,waterpoint_type,status_group
0,Lake Nyasa,True,False,gravity,user-group,annually,good,enough,groundwater,communal standpipe,functional
1,Lake Victoria,NaN,True,gravity,user-group,never pay,good,insufficient,surface,communal standpipe,functional
2,Pangani,True,True,gravity,user-group,per bucket,good,enough,surface,communal standpipe,functional
3,Ruvuma / Southern Coast,True,True,submersible,user-group,never pay,good,dry,groundwater,communal standpipe,non functional
4,Wami / Ruvu,True,False,submersible,commercial,never pay,salty,enough,groundwater,other,functional
...,...,...,...,...,...,...,...,...,...,...,...
36576,Pangani,True,True,gravity,user-group,never pay,good,enough,surface,communal standpipe,non functional
36577,Wami / Ruvu,True,True,submersible,user-group,monthly,good,enough,groundwater,communal standpipe,non functional
36578,Pangani,True,True,gravity,user-group,per bucket,good,enough,groundwater,communal standpipe,functional
36579,Rufiji,True,True,gravity,user-group,annually,good,enough,surface,communal standpipe,functional
36580,Wami / Ruvu,True,True,handpump,user-group,on failure,salty,enough,groundwater,other,functional

In [824]:
#Dealing with Nan values in our categorical data set.

In [825]:
df_cat.isnull().sum() #HOW TO DEAL WITH NANS IN BOOLEANS.

basin                       0
public_meeting           2301
permit                   1924
extraction_type_class       0
management_group            0
payment_type                0
quality_group               0
quantity_group              0
source_class                0
waterpoint_type             0
status_group                0
dtype: int64

In [826]:
#Dealing with Nan values 
df_cat['public_meeting'] = df_cat['public_meeting'].fillna('Unknown')
df_cat['permit'] = df_cat['permit'].fillna('Unknown')

In [827]:
df_cat[['public_meeting']].value_counts()
df_cat[['permit']].value_counts()

public_meeting
True              31375
False              2905
Unknown            2301
dtype: int64

permit
True       25037
False       9620
Unknown     1924
dtype: int64

####  MY FINAL DATA SET WITH THE VARIABLES SELECTED BEFORE DOING THE TEST/TRAIN SPLIT

In [835]:
df_final= pd.concat([df_num, df_cat], axis=1) 
df_final.head()

,gps_height,population,years_since_construction,basin,public_meeting,permit,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_class,waterpoint_type,status_group
0,1390,109,22,Lake Nyasa,True,False,gravity,user-group,annually,good,enough,groundwater,communal standpipe,functional
1,1399,280,11,Lake Victoria,Unknown,True,gravity,user-group,never pay,good,insufficient,surface,communal standpipe,functional
2,686,250,12,Pangani,True,True,gravity,user-group,per bucket,good,enough,surface,communal standpipe,functional
3,263,58,35,Ruvuma / Southern Coast,True,True,submersible,user-group,never pay,good,dry,groundwater,communal standpipe,non functional
4,62,345,10,Wami / Ruvu,True,False,submersible,commercial,never pay,salty,enough,groundwater,other,functional

In [836]:
df_final.isnull().sum()

gps_height                  0
population                  0
years_since_construction    0
basin                       0
public_meeting              0
permit                      0
extraction_type_class       0
management_group            0
payment_type                0
quality_group               0
quantity_group              0
source_class                0
waterpoint_type             0
status_group                0
dtype: int64

### SPLIT X/Y AND TEST/TRAIN

In [837]:
y=df_final['status_group']
X=df_final.drop(['status_group'],axis=1)
from sklearn.model_selection import train_test_split
#train test
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size =0.2, random_state=100)
X_train.shape
X_test.shape

(29264, 13)

(7317, 13)

### PROCESSING THE TRAIN DATA

##### 1.Processing NUMERICAL features

In [838]:
X_train_num= X_train.select_dtypes(np.number)
X_train_num

       gps_height  population  years_since_construction
20222         552          90                        41
6474         1441         600                        23
33145        1436         210                        15
21003        1179         400                        25
17401        1281         320                        15
...           ...         ...                       ...
16734         755         100                         9
16304         162         120                        46
79           1455          50                        21
12119         644          80                        16
14147        1415         745                        10

[29264 rows x 3 columns]

In [839]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_train_num) #this line teaches standardscaler where points are, subtracting mean to it, and dividing by standard deviation
X_train_standardized = pd.DataFrame(transformer.transform(X_train_num),columns = X_train_num.columns)
X_train_standardized

       gps_height  population  years_since_construction
0       -0.743116   -0.348865                  1.346132
1        0.742405    0.609345                 -0.090970
2        0.734050   -0.123404                 -0.729682
3        0.304602    0.233576                  0.068708
4        0.475045    0.083269                 -0.729682
...           ...         ...                       ...
29259   -0.403903   -0.330077                 -1.208716
29260   -1.394808   -0.292500                  1.745327
29261    0.765799   -0.424019                 -0.250648
29262   -0.589384   -0.367654                 -0.649843
29263    0.698959    0.881777                 -1.128877

[29264 rows x 3 columns]

##### 2.Processing CATEGORICAL features

In [840]:
X_train_cat= X_train.select_dtypes(np.object)
X_train_cat

,basin,public_meeting,permit,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_class,waterpoint_type
20222,Wami / Ruvu,True,True,handpump,user-group,never pay,good,enough,groundwater,other
6474,Internal,True,True,gravity,user-group,per bucket,colored,insufficient,surface,communal standpipe
33145,Lake Tanganyika,True,False,gravity,user-group,unknown,good,insufficient,groundwater,other
21003,Lake Victoria,True,True,other,user-group,never pay,good,insufficient,groundwater,other
17401,Lake Tanganyika,True,True,gravity,user-group,monthly,good,enough,surface,communal standpipe
...,...,...,...,...,...,...,...,...,...,...
16734,Rufiji,True,True,gravity,parastatal,other,good,enough,groundwater,communal standpipe
16304,Pangani,True,False,gravity,user-group,never pay,good,insufficient,groundwater,communal standpipe
79,Internal,True,Unknown,motorpump,user-group,per bucket,good,insufficient,groundwater,communal standpipe
12119,Pangani,True,True,gravity,user-group,monthly,good,insufficient,groundwater,communal standpipe
14147,Internal,True,True,gravity,parastatal,per bucket,good,seasonal,surface,communal standpipe

In [841]:
X_train_cat.columns
X_train_cat.dtypes

Index(['basin', 'public_meeting', 'permit', 'extraction_type_class',
       'management_group', 'payment_type', 'quality_group', 'quantity_group',
       'source_class', 'waterpoint_type'],
      dtype='object')

basin                    object
public_meeting           object
permit                   object
extraction_type_class    object
management_group         object
payment_type             object
quality_group            object
quantity_group           object
source_class             object
waterpoint_type          object
dtype: object

In [842]:
X_cat_encoded=pd.get_dummies(X_train_cat, drop_first=True)
X_cat_encoded

,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu,public_meeting_True,public_meeting_Unknown,permit_True,permit_Unknown,extraction_type_class_handpump,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered,management_group_other,management_group_parastatal,management_group_unknown,management_group_user-group,payment_type_monthly,payment_type_never pay,payment_type_on failure,payment_type_other,payment_type_per bucket,payment_type_unknown,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_group_enough,quantity_group_insufficient,quantity_group_seasonal,quantity_group_unknown,source_class_surface,source_class_unknown,waterpoint_type_other
20222,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
6474,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
33145,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1
21003,0,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
17401,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16734,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
16304,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
79,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
12119,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
14147,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0

**Getting final data train set**

In [843]:
X_train_standardized.reset_index(drop=True, inplace=True)
X_cat_encoded.reset_index(drop=True, inplace=True)

In [844]:
X_train_preproc = pd.concat([X_train_standardized,X_cat_encoded], axis= 1)
X_train_preproc

,gps_height,population,years_since_construction,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu,public_meeting_True,public_meeting_Unknown,permit_True,permit_Unknown,extraction_type_class_handpump,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered,management_group_other,management_group_parastatal,management_group_unknown,management_group_user-group,payment_type_monthly,payment_type_never pay,payment_type_on failure,payment_type_other,payment_type_per bucket,payment_type_unknown,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_group_enough,quantity_group_insufficient,quantity_group_seasonal,quantity_group_unknown,source_class_surface,source_class_unknown,waterpoint_type_other
0,-0.743116,-0.348865,1.346132,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
1,0.742405,0.609345,-0.090970,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0
2,0.734050,-0.123404,-0.729682,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1
3,0.304602,0.233576,0.068708,0,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
4,0.475045,0.083269,-0.729682,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29259,-0.403903,-0.330077,-1.208716,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
29260,-1.394808,-0.292500,1.745327,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
29261,0.765799,-0.424019,-0.250648,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
29262,-0.589384,-0.367654,-0.649843,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
29263,0.698959,0.881777,-1.128877,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,0

### MODELING AND VALIDATION

#### PREPROCESSIN TEST SET

**Numericals**

In [845]:
X_test_num= X_test.select_dtypes(np.number)
X_test_num

       gps_height  population  years_since_construction
7598         1459         200                        18
14962         627         230                        46
21478         570         560                        23
24908         790         320                        43
13248        1066           1                        12
...           ...         ...                       ...
13133        1538          68                        23
2141         1191         170                        33
16582        1538         360                        20
5977           37        6922                        11
22785         116         200                        16

[7317 rows x 3 columns]

In [846]:
from sklearn.preprocessing import StandardScaler
# transformer = StandardScaler().fit(X_test_num) #this line teaches standardscaler where points are, subtracting mean to it, and dividing by standard deviation
X_test_standardized = pd.DataFrame(transformer.transform(X_test_num),columns = X_test_num.columns)
X_test_standardized

      gps_height  population  years_since_construction
0       0.772483   -0.142192                 -0.490165
1      -0.617791   -0.085827                  1.745327
2      -0.713038    0.534191                 -0.090970
3      -0.345418    0.083269                  1.505810
4       0.115779   -0.516082                 -0.969199
...          ...         ...                       ...
7312    0.904492   -0.390200                 -0.090970
7313    0.324654   -0.198558                  0.707420
7314    0.904492    0.158423                 -0.330487
7315   -1.603683   12.487391                 -1.049038
7316   -1.471674   -0.142192                 -0.649843

[7317 rows x 3 columns]

**Categoricals**

In [847]:
X_test_cat= X_test.select_dtypes(np.object)
X_test_cat

,basin,public_meeting,permit,extraction_type_class,management_group,payment_type,quality_group,quantity_group,source_class,waterpoint_type
7598,Pangani,True,True,submersible,commercial,never pay,good,enough,groundwater,communal standpipe
14962,Pangani,True,True,gravity,user-group,monthly,good,insufficient,groundwater,communal standpipe
21478,Rufiji,True,True,handpump,other,other,good,enough,groundwater,other
24908,Ruvuma / Southern Coast,True,False,gravity,user-group,never pay,good,enough,groundwater,communal standpipe
13248,Pangani,True,True,gravity,commercial,monthly,good,insufficient,groundwater,communal standpipe
...,...,...,...,...,...,...,...,...,...,...
13133,Pangani,True,True,gravity,user-group,unknown,good,insufficient,groundwater,communal standpipe
2141,Lake Tanganyika,True,True,handpump,user-group,annually,good,enough,groundwater,other
16582,Lake Tanganyika,True,True,gravity,user-group,monthly,good,enough,surface,communal standpipe
5977,Wami / Ruvu,True,False,submersible,user-group,per bucket,good,enough,groundwater,communal standpipe
22785,Wami / Ruvu,True,False,handpump,user-group,never pay,unknown,dry,groundwater,other

In [848]:
X_cat_test_encoded=pd.get_dummies(X_test_cat, drop_first=True)
X_cat_test_encoded

,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu,public_meeting_True,public_meeting_Unknown,permit_True,permit_Unknown,extraction_type_class_handpump,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered,management_group_other,management_group_parastatal,management_group_unknown,management_group_user-group,payment_type_monthly,payment_type_never pay,payment_type_on failure,payment_type_other,payment_type_per bucket,payment_type_unknown,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_group_enough,quantity_group_insufficient,quantity_group_seasonal,quantity_group_unknown,source_class_surface,source_class_unknown,waterpoint_type_other
7598,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
14962,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
21478,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
24908,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
13248,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13133,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0
2141,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
16582,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
5977,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
22785,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1

**Getting final data test set**

In [849]:
X_test_standardized.reset_index(drop=True, inplace=True)
X_cat_test_encoded.reset_index(drop=True, inplace=True)

In [850]:
X_test_preproc = pd.concat([X_test_standardized,X_cat_test_encoded], axis= 1)
X_test_preproc

,gps_height,population,years_since_construction,basin_Lake Nyasa,basin_Lake Rukwa,basin_Lake Tanganyika,basin_Lake Victoria,basin_Pangani,basin_Rufiji,basin_Ruvuma / Southern Coast,basin_Wami / Ruvu,public_meeting_True,public_meeting_Unknown,permit_True,permit_Unknown,extraction_type_class_handpump,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered,management_group_other,management_group_parastatal,management_group_unknown,management_group_user-group,payment_type_monthly,payment_type_never pay,payment_type_on failure,payment_type_other,payment_type_per bucket,payment_type_unknown,quality_group_fluoride,quality_group_good,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_group_enough,quantity_group_insufficient,quantity_group_seasonal,quantity_group_unknown,source_class_surface,source_class_unknown,waterpoint_type_other
0,0.772483,-0.142192,-0.490165,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
1,-0.617791,-0.085827,1.745327,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
2,-0.713038,0.534191,-0.090970,0,0,0,0,0,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1
3,-0.345418,0.083269,1.505810,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
4,0.115779,-0.516082,-0.969199,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7312,0.904492,-0.390200,-0.090970,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0
7313,0.324654,-0.198558,0.707420,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
7314,0.904492,0.158423,-0.330487,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0
7315,-1.603683,12.487391,-1.049038,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0
7316,-1.471674,-0.142192,-0.649843,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1

### Logistic Regression

In [851]:
from sklearn.linear_model import LogisticRegression
classificationLR = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='ovr').fit(X_train_preproc, y_train)

C:\Users\Elena\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\Elena\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\Users\Elena\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [852]:
predictionsLR = classificationLR.predict(X_test_preproc)
classificationLR.score(X_test_preproc, y_test)

0.7307639743064097

In [853]:
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [854]:
print("precision: ",precision_score(y_test,predictionsLR,average='macro' ))
print("recall: ",recall_score(y_test,predictionsLR,average='macro' ))
print("f1: ",f1_score(y_test,predictionsLR,average='macro' ))

precision:  0.7024969408476206
recall:  0.508750193130166
f1:  0.5055322364773834

In [855]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictionsLR)

array([[3716,    3,  404],
       [ 366,   12,  122],
       [1071,    4, 1619]], dtype=int64)

In [98]:
#              Predicted Labels
#              | A  | B
# -----------------------
# True label A |    |
#            ------------
#            B |    |

**Importances features**

In [856]:
importances = pd.DataFrame(data={
    'Attribute': X_train_preproc.columns,
    'Importance': classificationLR.coef_[0]
})
importances = importances.sort_values(by='Importance', ascending=False)
importances.head(10)

                          Attribute  Importance
36            quantity_group_enough    4.324970
38          quantity_group_seasonal    4.179853
37      quantity_group_insufficient    3.833623
39           quantity_group_unknown    2.934657
15   extraction_type_class_handpump    0.907571
3                  basin_Lake Nyasa    0.839378
18  extraction_type_class_rope pump    0.816637
31           quality_group_fluoride    0.579088
14                   permit_Unknown    0.540382
21           management_group_other    0.501117

In [100]:
# plt.bar(x=importances['Attribute'], height=importances['Importance'], color='#087E8B')
# plt.title('Feature importances obtained from coefficients', size=20)
# plt.xticks(rotation='vertical')
# plt.xlabel('Feature importance')
# plt.ylabel('Features')
# # plt.show()

### K-Nearest Neighbors

In [857]:
from sklearn.neighbors import KNeighborsClassifier
classificationKNN = KNeighborsClassifier(n_neighbors=3)    
classificationKNN.fit(X_train_preproc, y_train)

KNeighborsClassifier(n_neighbors=3)

In [858]:
predictionsKNN = classificationKNN.predict(X_test_preproc)
classificationKNN.score(X_test_preproc, y_test)

0.7680743474101408

In [859]:
print("precision: ",precision_score(y_test,predictionsKNN,average='macro' ))
print("recall: ",recall_score(y_test,predictionsKNN,average='macro'))
print("f1: ",f1_score(y_test,predictionsKNN,average='macro'))

precision:  0.6627050484206111
recall:  0.607013588044878
f1:  0.6243478266696284

In [860]:
confusion_matrix(y_test, predictionsKNN)

array([[3529,  110,  484],
       [ 287,  116,   97],
       [ 675,   44, 1975]], dtype=int64)

### Random Forest

In [861]:
from sklearn.ensemble import RandomForestClassifier
classificationRF= RandomForestClassifier(max_depth=25, n_estimators = 42*5, criterion = 'entropy', random_state = 0)
classificationRF.fit(X_train_preproc, y_train)

RandomForestClassifier(criterion='entropy', max_depth=25, n_estimators=210,
                       random_state=0)

In [862]:
predictionsRF = classificationRF.predict(X_test_preproc)
classificationRF.score(X_test_preproc, y_test)

0.7963646303129698

In [863]:
print("precision: ",precision_score(y_test,predictionsRF,average='macro' ))
print("recall: ",recall_score(y_test,predictionsRF,average='macro'))
print("f1: ",f1_score(y_test,predictionsRF,average='macro'))

precision:  0.7101948493609206
recall:  0.641982996982842
f1:  0.6634839209632523

In [864]:
confusion_matrix(y_test, predictionsRF)

array([[3602,   93,  428],
       [ 275,  139,   86],
       [ 572,   36, 2086]], dtype=int64)

**Important Features**

In [865]:
model = classificationRF
model.fit(X_train_preproc, y_train)
importances = pd.DataFrame(data={
    'Attribute': X_train_preproc.columns,
    'Importance': model.feature_importances_
})
importancesRF = importances.sort_values(by='Importance', ascending=False)

RandomForestClassifier(criterion='entropy', max_depth=25, n_estimators=210,
                       random_state=0)

In [866]:
importancesRF.head(20)

                            Attribute  Importance
0                          gps_height    0.239413
2            years_since_construction    0.164431
1                          population    0.147533
36              quantity_group_enough    0.038878
17        extraction_type_class_other    0.037884
37        quantity_group_insufficient    0.022382
13                        permit_True    0.021955
26             payment_type_never pay    0.021795
42              waterpoint_type_other    0.020822
40               source_class_surface    0.019484
24        management_group_user-group    0.017610
38            quantity_group_seasonal    0.015031
7                       basin_Pangani    0.014890
15     extraction_type_class_handpump    0.014802
5               basin_Lake Tanganyika    0.014319
11                public_meeting_True    0.013983
19  extraction_type_class_submersible    0.013539
30               payment_type_unknown    0.012998
29            payment_type_per bucket    0.012466
8                        basin_Rufiji    0.011998